html {
    user-select: none;
    height: 100%;
    background: linear-gradient(to left, #00171f, #013647, #1b4452, #1a5163, #0d2730);
    background: -webkit-linear-gradient(to left, #00171f, #013647, #1b4452, #1a5163, #0d2730);
    background: -moz-linear-gradient(to left, #00171f, #013647, #1b4452, #1a5163, #0d2730);
    background: -o-linear-gradient(to left, #00171f, #013647, #1b4452, #1a5163, #0d2730);
}

.text-center {
    text-align: center;
}

#container {
    box-sizing: border-box;
    height: 440px;
    width: 590px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    background-color: #9DD2EA;
    box-shadow: 0px 4px 0px 0px #009DE4;
    position: relative;
}

#X {
    background-color: #070b14;
    color: #f46650;
    /* border-bottom: solid 4px #9DA853;*/
    box-shadow: 0px 4px #9DA853;
    position: absolute;
    right: 500px;
    padding: 11px;
    font-size: 30px;
}

#O {
    background-color: #070b14;
    color: #0ca4d4;
    /* border-bottom: solid 4px #9DA853;*/
    box-shadow: 0px 4px #9DA853;
    font-size: 30px;
    position: absolute;
    left: 500px;
    padding: 11px;

}

.baap {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    top: 80px;
    left: 125px;
    gap: 15px 5px;
}

.cell {
    font-size: 50px;
    width: 85px;
    height: 85px;
    background: #FFF;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    line-height: 85px;
    cursor: pointer;
    /*    position: relative;*/
    transition: all 0.2s;
}

.cell:active,
#startreset:active {
    background-color: black;
    box-shadow: 0 0;
    color: white;
    top: 4px;
}

#startreset,
#check {
    width: 100px;
    height: 38px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

#gameover {
    width: 250px;
    height: 70px;
    background: black;
    color: #FFF;
    font-size: 1.5em;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 550px;
    z-index: 2;
    display: none;
}
